div {
    width: 150px;
    height: 150px;
    background-color: #EEE;
    margin: 20px auto;
    border-radius: 6px;
    /* Shorthand for setting 'overflow-x' and 'overflow-y' . */
    overflow: visible;
    overflow: hidden;
    overflow: scroll;
    overflow: auto;
    overflow-y: hidden;
    overflow-x: hidden;
}