div {
    padding: 10px;
    width: 100px;
    color: #fff;
    text-align: center;
    /* Sorted by layer in html */
    position: absolute;
}

/* 
Z-index
    For a positioned box, the 'z-index' property specifies the stack level of the box in 
    the current stacking context and whether the box establishes a local stacking context.
    - no work with positoin

*/
.one {
    background-color: red;
    left: 20px;
    top: 20px;
    z-index: 3;
}

.two {
    background-color: green;
    left: 15px;
    top: 15px;
    z-index: 2;
}

.three {
    background-color: blue;
    z-index: 1;
}