div {
    width: 150px;
    height: 150px;
    background-color: red;
    margin: 20px auto;
    /* Defines the radii of the outer border edge. */
    border-radius: 4px;
    /* border-top-left-radius: 20px 20px;
    border-bottom-right-radius: 20px; */
}